body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.header {
  width:100%;
  height:80px;
  background-color: rgb(229, 120, 65);
  display:flex ;
  align-items: center;
  justify-content: center;
  position:relative;
}
.ss-logo {
  width:110px;
  position:absolute;
  top:0px;
  left:5px;
}
.ss-name {
  height:80px;
}
                     /*===Search Bar ===*/
.searchbar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top:20px;
}
.search {
  font-size:40px;
}
.input-text {
  width:300px;
  border:1px solid lightgray;
  padding-left:20px;
  height:35px;
  border-radius:20px;
  box-shadow:0 5px 5px rgba(0,0,0,0.3);
  outline: none;
  margin-top:20px;
}

                     /*=== Post ===*/

.animal-image {
  width: 400px;
}
.Posts {
  list-style: none;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.posts {
  width:400px;
  border:1px solid lightgray;
  margin:20px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow:0 5px 5px rgba(0,0,0,0.5)
}
.name {
  font-style: italic;
  padding-left:20px;
  line-height: 10px;
}

.type {
  font-size: 20px;
  padding-left:20px;
  color:rgb(172, 166, 166);
  margin-top:-5px;
}
.description{
  font-size: medium;
  padding-left:20px;
}

.post-comment-btn{
  background-color: orange;
}
.comment__textarea{
  width: 200px;
}
.Likes {
  background-color: orange;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: medium;
}
.likes-delete {
  display:flex ;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.Delete {
  padding:10px;
  background-color: orange;
}
/* Form css */
.add-animal-btn {
  margin:10px;
  border:none;
  padding:10px 20px;
  font-weight: 600;
}
#spaceDefault {
  margin-bottom: 20px;
}

.new-animal-form {
  background-color: rgb(229, 120, 65);
  width: 30%;
  height: 50%;
  text-align: center;
  border-radius: 5px;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top:90px;
}
/* end of form css */


/* navbar css */

nav {
  position:absolute;
  right:10px;
}
nav .navLinks {
  display: inline-block;
  margin: 1rem 1rem;
  text-decoration: none;
  font-size:17px;
  color: whitesmoke;
  border-bottom: 2px solid whitesmoke;
  transition: 0.1s;
}

nav .navLinks:hover,
nav .navLinks:active {
  color: brown ;
  border-bottom: 2px solid brown ;
}

/* end of navbar css */




/* comments css */

.comment  {
  background-color:rgb(172, 166, 166);
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  width: 150px;
  height:25px
}


/* end of comments */


/* end of navar css */
.image {
  width:300px;
  margin:10px;
}
.Pictures {
  display:inline-block;
  margin:30px;
}

